.content-meta {
  margin-top: 0;
  color: var(--darkgray);
  font-size: 15px;
  margin-top: 5px;

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
